<div id="content">
	<div id="forgot_pwd_box">
		<p id="forgot_pwd_status">&nbsp;</p>
		<%= form_tag password_resets_path, :method => :post do %>
		<fieldset class="clearfix">
			<legend>Email ID</legend>
			<%= text_field_tag :email, {:class=> "textbox required validate=email field=Email Id"} %> 
			 <em class="error"></em>
			 <p>Your password will be sent at this email ID. Please enter a valid email ID</p>
		</fieldset>
		 <div>&nbsp;</div>
		<div class="input_cont center">
			<%= submit_tag "Reset my password!", {:class => "actionbutton actionblue", :id => "get_my_pwd_bt"} %>
		</div>
		<% end %>
	</div>
</div>