<%= render :partial => 'shared/sub_nav', :locals => { :selected => "newProject" } %>
<div id="add_room_cont" class="content">
	<%= form_for @project, :html => {:id => "create_edit_team"} do |f| %>
	<% if @project.errors.any? %>	
	<div id="flash">
		<div id="flash_error">
	      <% @project.errors.full_messages.each do |msg| %>
	        <div class="errortxt" style="margin-left:12px;"><%= msg %></div>
	      <% end %>
		</div>
	</div>
  	<% end %>
	
	<%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>
</div>
