#forgot_pwd_box, #forgot_text {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font-family: 'Lucida Grande','Trebuchet MS','Georgia',Arial,Helvetica,sans-serif;
    font-size: 12px;
    min-height: 400px;
    width: 100%;
}
#forgot_pwd_box fieldset, #forgot_text .forgot_pwd_text {
    padding: 1em;
    text-align: left;
    width: 70%;
}
#forgot_text .forgot_pwd_text {
    border: 1px solid #CCCCCC;
    color: #E3A500;
    font-size: 13px;
    margin: 100px auto 0;
    padding: 3em;
    text-align: justify;
}
#forgot_pwd_box input.textbox {
    border: 1px solid #AAAAAA;
    padding: 3px 4px;
    width: 250px;
}
#forgot_pwd_box input.textbox:hover {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #FFC10E;
}
#forgot_pwd_box input.textbox:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFC10E;
}
#forgot_pwd_box fieldset legend {
    color: #000000;
    font-size: 105%;
    font-weight: bold;
}
#forgot_pwd_box input.submit {
    background-color: #99CC66;
    border-color: #C9FB98 #C9FB98 #829173 #829173;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 130%;
    margin: 0 auto;
    outline: 0 none;
    padding: 4px 5px;
}
#forgot_pwd_box input.submit:hover {
    color: #C9FB98;
}
#forgot_pwd_box .input_cont {
    margin: 12px 2px;
}
.breadcrumb {
    padding: 0 1em;
    text-align: left;
}
#forgot_pwd_box em.error {
    color: #FF0000;
    padding: 2px 5px;
}
#forgot_pwd_box em.loading {
    background: url("/ce/images/spinner.gif") no-repeat scroll 6px center transparent;
    padding: 2px 12px;
}
#forgot_pwd_box em.success {
    background: url("/ce/images/tick.png") no-repeat scroll left center transparent;
    padding: 2px 10px;
}
#forgot_pwd_box #forgot_pwd_status {
    background: url("/error.png") no-repeat scroll 10px 10px #FCF1F0;
    border: 1px solid #FDC1C0;
    color: #CC0000;
    font-size: 12px;
    line-height: 16px;
    margin: 20px auto 0;
    padding: 10px 5px 10px 32px;
    text-align: left;
    visibility: hidden;
    width: 69%;
}
